<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is homepage</h1>


    <button type="button"> <a href="register/">SignUp Here</a></button>
    <button type="button"><a href="login1/">SignIn Here</a></button>
    <button type="button"><a href="dashboard/">Dashboard</a></button>
    <button type="button"><a href="add_products/">add_products</a></button>
    <button type="button"><a href="all_products/">all_products</a></button>
    <button type="button"><a href="cart/">cart</a></button>
    
    

</body>
</html>