{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand order-2 order-lg-1  site-header__logo-image" href="/">

        <img style="height: 50px;" src="{% static 'images/indexPageImages/logo_wide.png' %}" alt="" srcset="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-1 order-lg-2" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">


            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>



            <li class="nav-item">
                <a class="nav-link" href="{% url 'shop' %}">Shop</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'wishlist' %}">Wishlist <span
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary text-white">
                        {{count}}
                </a>
            </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-primary" href="{% url 'register' %}"> Sign UP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="{% url 'login1' %}"> Login </a>
            </li>
            {% endif %}



        </ul>
    </div>
    <div class="order-3 navbar-right-elements">
        <div class="search-cart">

            {% if user.is_authenticated %}
            <div class="search" style="margin-right: 20px; ">
                <div class="profile">
                    <i class="bi bi-person-lines-fill"></i> &nbsp;{{name}} <i class="bi bi-chevron-down"></i>
                    <div class="dropdown-content">
                        
                            <a href="{% url 'user_dashboard' %}">My Dashboard</a>
                            <a href="{% url 'sign_out' %}"> Logout </a>
                        
                    </div>

                </div>
            </div>
            {% endif %}
            <div class="search ">
                <button id="searchOpen" class="search-btn"><i class="bi bi-search"></i></button>
                <div class="search-wrapper">
                    <form action="{% url 'shop' %}" method="post">
                        {% csrf_token %}
                        <input class="search-box" id="Search" name="searched" type="search"
                            placeholder="Search on our store">
                        <button class="search-icon" name="search" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>


            <!-- cart -->
            <div class="cart" id="cart">
                <a id="cartOpen" href="{% url 'cart' %}" class="cart-btn"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg> CART <span class="text-primary"> {{cartCount}} </span>
                </a>

            </div>
        </div>
    </div>
</nav>