{% load static %}
<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js supports-no-cookies" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <link rel="icon" type="image/png" href="{% static 'images/indexPageImages/title_logo-removebg-preview.png' %}" />
    <title>
        Fish Hut
    </title>




    <meta property="og:site_name" content="Elite Shop">
    <meta property="og:url" content="https://shopper-theme.myshopify.com/">
    <meta property="og:title" content="Elite Shop">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Elite Shop">


    <meta name="twitter:site" content="@">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Elite Shop">
    <meta name="twitter:description" content="Elite Shop">


    <link href="{% static 'css/indexPageCss/theme.scss.css' %}" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="{% static 'css/indexPageCss/pluggins.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/indexPageCss/style.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>





</head>

<body id="elite-shop" class="template-index">






    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand order-2 order-lg-1  site-header__logo-image" href="/">

            <img style="height: 50px;" src="{% static 'images/indexPageImages/logo_wide.png' %}" alt="" srcset="">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-1 order-lg-2" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">


                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="/pages/about-us">About</a>
                </li>







                <li class="nav-item">
                    <a class="nav-link" href="/pages/contact-us">Contact Us</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="#swym-wishlist">Wishlist <i class="bi bi-heart"></i></a>
                </li>





            </ul>
        </div>
        <div class="order-3 navbar-right-elements">
            <div class="search-cart">
                <!-- search -->
                <div class="search">
                    <button id="searchOpen" class="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg></button>
                    <div class="search-wrapper">
                        <form action="{% url 'shop' %}" method="post">
                            {% csrf_token %}
                            <input class="search-box" id="Search" name="name" type="search"
                                placeholder="Search on our store">
                            <button class="search-icon" name="search" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </div>
                <!-- cart -->
                <div class="cart" id="cart">
                    <button id="cartOpen" class="cart-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg><a href="{% url 'cart' %}"> CART</a> </button>

                </div>
            </div>
        </div>
    </nav>
    <!-- /navigation -->






    <main role="main" id="MainContent">


        <!-- center with bg image -->




        <div id="shopify-section-top-collections" class="shopify-section">
            <nav class="bg-gray py-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="">shop</a></li>
                    </ol>
                </div>
            </nav>
            <section class="section" style="padding-top: 0%;">
                <div class="container " style="padding-left: 70px;padding-right: 70px; ">
                    
                    <div class="row">
  

                        <!-- product -->
                        
                            {% for d in results %}
                            <div class="col-lg-3 col-sm-6 mb-4">
                                <div class="product text-center">
                                    <div class="product-thumb">
                                        <div class="overflow-hidden position-relative">
                                            <a href="{% url 'product_details' d.id %}">

                                                <img class="img-fluid w-100 mb-3 img-first"
                                                    src="/static/media/{{d.product_image}}" alt="Pocket Denim Overshirt">


                                            </a>
                                            <div class="btn-cart">
                                                
                                                <form method="post" action="/cart/add" id="product_form_1778436636770"
                                                    accept-charset="UTF-8" enctype="multipart/form-data" data-cart-submit>
                                                    <input type="hidden" id="product" name="id" value="16676079730786">

                                                    <button type="submit" name="add"
                                                        class="btn btn-primary btn-sm text-white" data-add-to-cart>
                                                        <a href="{% url 'product_details' d.id %}">

                                                            More Details

                                                        </a>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="product-info ">
                                        <h3 class="h3 text-primary" style="font-weight: bolder;">{{d.product_name}}
                                        </h3>
                                        <h4 class="h5">description
                                        </h4>
                                        <span class="h5">${{d.product_price}}
                                        </span>
                                    </div>
                                    <!-- product label badge -->

                                </div>
                            </div>
                            {% endfor %}

                           



                        <!--  _________________________________________________ -->
                            {% for d in data %}
                            <div class="col-lg-3 col-sm-6 mb-4">
                                <div class="product text-center">
                                    <div class="product-thumb">
                                        <div class="overflow-hidden position-relative">
                                            <a href="{% url 'product_details' d.id %}">

                                                <img class="img-fluid w-100 mb-3 img-first"
                                                    src="/static/media/{{d.product_image}}" alt="Pocket Denim Overshirt">


                                            </a>
                                            <div class="btn-cart">
                                                
                                                <form method="post" action="/cart/add" id="product_form_1778436636770"
                                                    accept-charset="UTF-8" enctype="multipart/form-data" data-cart-submit>
                                                    <input type="hidden" id="product" name="id" value="16676079730786">

                                                    <button type="submit" name="add"
                                                        class="btn btn-primary btn-sm text-white" data-add-to-cart>
                                                        <a href="{% url 'product_details' d.id %}">

                                                            More Details

                                                        </a>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="product-info ">
                                        <h3 class="h3 text-primary" style="font-weight: bolder;">{{d.product_name}}
                                        </h3>
                                        <h4 class="h5">{{d.product_desc}}
                                        </h4>
                                        <span class="h5">${{d.product_price}}
                                        </span>
                                    </div>
                                    <!-- product label badge -->

                                </div>
                            </div>
                            {% endfor %}
                        
                        <!-- /end of product -->

                        



                    </div>
                </div>
            </section>

        </div>




    </main>







<script>
    $('#searchOpen').on('click', function() {
        $('.search-wrapper').toggleClass('open');
        $('.search-btn').toggleClass('search-close');
    });
</script>
</body>

</html>