{% extends 'pet_app/dashboard.html' %}
{% load static %}

{% block header %}

<div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
    
    {% for d in data %}
    <div class="col">
        <div class="card h-100 " style="border: none;">
            <img src="/static/media/{{d.product_image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="text-align: center;">{{d.product_name}}</h4>
                <p class="card-text" style="text-align: center;">{{d.product_desc}}</p>
                <h6 style="text-align: center;"> PRICE : {{d.product_price}}/-</h6>


            </div>
            
            <div class="d-grid gap-2 ps-2 pe-2" style="border: none;">

                


            </div>
        </div>
    </div>
    {% endfor %}
  
   
    
</div>

{% endblock %}